
<div *ngIf="!isLoading" class="card-content">
    <div class="card-title">
        It's currently 5 O'Clock In . . .
    </div>
    <div class="card-area">
        <p>
            <b>{{ area.zone.country }}</b>, {{ area.zone.state }} {{ area.zone.city }}
        </p>
    </div>
    <div class="card-drink-title">
        A Popular Drink There:
    </div>
    <div class="card-drink-recipe">
        <p><b>{{drinkName}}:</b></p>
        <ul>
            <li *ngFor="let ingredient of drinkIngredients">{{ingredient}}</li>
        </ul>
    </div>
    <button class="new-area" (click)="showNewArea()">Take me Somewhere New!</button>
</div>
<div *ngIf="isLoading" class="loader">
    <img src="../../../assets/beer loader.gif"/>
    <div>Pouring one for you ;)</div>
</div>