.footer-bar {
  margin-top: auto;
  background: linear-gradient(to top, #f4e2c2, #fffbe6); 
  font-family: 'Courier New', Courier, monospace;
  font-weight: 300;
  color: #333;
  padding: 10rem 10rem 5rem 10rem;
  border-top: 4px solid #e3caa0;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
  padding-bottom: 6rem;
  gap: 1rem;
}

.footer-left,
.footer-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-label,
.footer-text {
  font-size: 2.8rem;
}

.footer-label {
  margin-bottom: 0.5rem;
  color: #664229; 
}

.social-icons a {
  color: #333;
  font-size: 4rem;
  margin: 0.5rem 1rem;
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-icons a:hover {
  color: #d99458; 
  transform: scale(1.1);
}

.footer-text {
  letter-spacing: 0.5px;
  color: #444;
}

@media (max-width: 798px) {

  .footer-label {
    font-size: 2rem;
  }
  
  .footer-text {
    margin-top: 2rem;
    font-size: 1.5rem;
  }

  .footer-content {
    padding-bottom: 4rem;
  }

  .footer-bar {
    padding: 6rem 6rem 3rem 6rem;
  }
}