<!-- <div class="home-wrapper">
    <app-header-bar class="header-bar"></app-header-bar>
    <div class="palm-tree"></div>
    <app-card class="five-oclock-card"></app-card>
    <app-footer-bar class="footer-bar"></app-footer-bar>
</div> -->
<div class="home-wrapper">
  <app-header-bar class="header-bar"></app-header-bar>
  <div class="palm-tree"></div>
  
  <div class="main-content">
    <app-card class="five-oclock-card"></app-card>
  </div>
  
  <app-footer-bar class="footer-bar"></app-footer-bar>
</div>
