.home-wrapper{
  position: relative;
  height: 100vh;
  overflow-x: hidden;
}

.header-bar {
  top: 0;
  width: 100%;
}

.palm-tree {
  position: absolute;
  right: -25rem;
  top: 23rem;
  width: 70rem;
  height: 400rem;
  background-image: url('../../../assets/palm\ tree.png');
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;
  z-index: 0;
}

.five-oclock-card {
  margin: 20rem auto 20rem;
  width: 60%;
  position: relative;
}

@media (max-width: 768px) {
  .palm-tree {
    right: -12rem;
    width: 35rem;
    height: 200rem;
  }

  .five-oclock-card {
    margin: 7rem auto 15rem;
  }
}