<mat-toolbar class="header-bar">
    <div class="header-content">
        <span class="header-text">It's 5 O'Clock Somewhere</span>
        <svg class="header-wave" viewBox="0 0 1000 100" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
        <path d="
            M0,50
            Q 25,25 50,50
            Q 75,75 100,50
            Q 125,25 150,50
            Q 175,75 200,50
            Q 225,25 250,50
            Q 275,75 300,50
            Q 325,25 350,50
            Q 375,75 400,50
            Q 425,25 450,50
            Q 475,75 500,50
            Q 525,25 550,50
            Q 575,75 600,50
            Q 625,25 650,50
            Q 675,75 700,50
            Q 725,25 750,50
            Q 775,75 800,50
            Q 825,25 850,50
            Q 875,75 900,50
            Q 925,25 950,50
            Q 975,75 1000,50"
            fill="transparent"
            stroke="currentColor"
            stroke-width="30"
            stroke-linecap="round"
            stroke-linejoin="round"/>
        </svg>      
    </div>
</mat-toolbar>
  